html
{
    background-image: url("access-close-up-code-1089438.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
}
h1
{
    color: white;
    text-align: center;
    font-size: 100px;
}
h2
{
    font-size: 30px;
}
body
{
    /*border: white solid 3px;*/
}
#blank1
{
    /*border: white solid 3px;*/
    color: black;
    background-image: url("blanksscreen2.png");
    margin-bottom: 100px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-left: 26%;
    padding-right: 30px;
    /*margin-right: 1%;*/

}

#blank2
{
    /*border: white solid 3px;*/
    color: black;
    background-image: url("blanksscreen2.png");
    margin-bottom: 100px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    padding-left: 26px;
    margin-left: 26%;
    padding-right: 30px;


}
.down
{
    padding-top: 60px;


}
.small
{
    width: 100px;
}
#navigation2
{
    border: #B1A8BC solid 3px;
    background: white;
    margin-right: 70%;
    float: left;
    padding-left: 2px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    color: black;
    margin-top: 90px;
}
#biggg
{
    font-size: larger;
}
#smalll
{
    margin-left: 5px;
    padding-right: 40%;
}
.space
{
    /*padding-right: 3px;*/
}