html
{
    background-image: url("art-artwork-background-2680270.jpg");
    /*background-image: url("blugal.jpg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
    padding-top: 8%;
    border: white solid 6px;
}


/*body*/
/*{*/

/*}*/
#cinzel
{
    color: white;
    font-family: Cinzel, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /*margin-left: 50px;*/
    /*margin-right: 70px;*/
    /*margin-top: 20px;*/
    /*border: white solid 3px;*/
}
#cinzel:hover
{
    color: black;
    /*background-color:white ;*/
    background-image: url("painback.jpg");
}
.headline
 {
    text-align: center;
    font-size: x-large;
    color: white;
 }
#gloria
{
    font-size: 55px;
    /*margin-bottom: 8%;*/
    /*margin-top: 0px;*/
    text-align: center;
    padding-bottom: 1.1%;
    padding-top: 1.1%;
    /*border: white solid 3px;*/
}
#gloria:hover
{
  color: black;
    background-image: url("painback2.jpg");
}
#orbitron
{
    font-size: 55px;
    padding-bottom: 1.1%;
    padding-top: 1.1%;
    text-align: center;
    /*border: white solid 3px;*/
}
#orbitron:hover
{
    color: black;
    background-image: url("painback3.jpg");
}
/*.white*/
/*{*/
/*    color:white;*/
/*    font-weight: bold;*/
/*    border: white solid 3px;*/
/*}*/
/*#mid*/
/*{*/
/*    text-align: right;*/
/*}*/
/*.asideright*/
/*{*/
/*    margin-top: 10%;*/
/*    float: right;*/
/*    !*margin-right: 30px;*!*/
/*}*/
.asideleft
{
    float: none;
}
footer
{
    text-align: center;
    /*margin: 10%;*/
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 1.1%;
    padding-top: 1.1%;
}
footer:hover
{
    background-image: url("paintblack.png");
    color: white;
}
a
{
    color: white;
    /*text-underline: none;*/
    /*text-underline: none;*/
}
a:hover
{
    color: black;
}
#a:hover
{
    color: white;
}